html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif;
  background-color: #211b3f; 
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #8a3824;
    padding: 0 20px 20px 20px;
    border: 5px rgb(42, 44, 65);
  }
  h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 1px 4px 1px #211b3f;
    color:#453e67
  }
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
